
          <div class="personal">
            <h2>me</h2>
              <p>
                  I live in Seattle. When not working, I hang with my cat <a href="/kyle-lo/assets/img/belphie.jpeg">Belphegor</a> and play board games (<a href="https://boardgamegeek.com/boardgame/121921/robinson-crusoe-adventures-cursed-island">Robinson Crusoe</a>,
                  <a href="https://boardgamegeek.com/boardgame/253344/cthulhu-death-may-die">Cthulu: Death May Die</a>, <a href="https://boardgamegeek.com/boardgame/98778/hanabi">Hanabi</a>) and video games (<a href="https://store.steampowered.com/app/892970/Valheim">Valheim</a>, <a href="https://store.steampowered.com/app/646570/Slay_the_Spire/">Slay the Spire</a>, <a href="https://store.steampowered.com/app/881100/Noita/">Noita</a>). I love D&D and am currently lost in <a href="https://dnd.wizards.com/products/eberron">Eberron</a>. I'm a <a href="https://www.snrtea.com/">boba</a> enthusiast.
              </p>
          </div>



